@use "../../styles/partials/Variables.scss" as *;

.list{
    @include avenirFont;
    &__item{
        display: flex;
        text-align: left;
        @include mobileComponentPadding;

        &-image{
            width: 44px;
            height: 44px;
            background-position: left;
            background-size: cover;
            border-radius: 50%;
            background-color: #E1E1E1;
            padding-right: 2.75rem;
        }
        &-div{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            &-container{
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
            }
            &-name{
                font-weight: 600;
            }
            &-date{

            }
            &-comment{

            }
        }
    }


}